name: CLI 
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world! Dhanush here 
      - name: Run a multi-line script
        run :
          echo This is running first
          echo After this the env will run
       
